.vscode
*.o
binpack/
cores/
ramdisk/
mach
mach.c
binpack.tar
binpack.dmg
ramdisk.dmg
loader.dmg
palera1n.ipa
.DS_Store
*.dSYM
*.dSYM.*
.irecovery
src/launchd_hook/libellekit.dylib
src/launchd_hook/rootlesshooks.dylib
