[submodule "src/rootlesshooks/ellekit"]
	path = src/ellekit/ellekit
	url = https://github.com/evelyneee/ellekit
[submodule "src/payload/launchctl"]
	path = src/payload/launchctl
	url = git@github.com:ProcursusTeam/launchctl
[submodule "tools/libdmg-hfsplus"]
	path = tools/libdmg-hfsplus
	url = git@github.com:palera1n/libdmg-hfsplus.git
