name: Build

on:
  push:
  pull_request:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Select correct Xcode
        uses: mobiledevops/xcode-select-version-action@v1
        with:
          xcode-select-version: 14.2

      - name: Install dependencies (packages)
        run: |
          brew install make autoconf automake pkg-config gnu-sed coreutils ldid-procursus

      - name: Install dependecies
        run: |
          curl -LO https://static.palera.in/artifacts/loader/universal_lite/palera1nLoader.ipa
          curl -LO https://static.palera.in/binpack.tar
          install -m644 binpack.tar palera1nLoader.ipa src
  
      - name: Compile
        run: sudo gmake -j$(sysctl -n hw.ncpu) all
      
      - name: Prepare for upload
        run: |
          mkdir dist
          cp src/ramdisk.dmg dist/ramdisk.dmg
          cp src/binpack.dmg dist/binpack.dmg

      - name: Upload artifact
        uses: wangyucode/sftp-upload-action@v1.4.8
        with:
          host: ${{ secrets.NICKCHAN_FTP_HOST }}
          port: ${{ secrets.NICKCHAN_FTP_PORT }}
          username: palera1n
          password: ${{ secrets.NICKCHAN_FTP_PASS }}
          forceUpload: true
          dryRun: false
          localDir: 'dist/'
          remoteDir: '/palera1n/c-rewrite/deps/'
