name: Build

on:
  push:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies (packages)
        run: |
          sudo /usr/local/bin/pip3 install jsonschema jinja2
          brew install make autoconf automake pkg-config gnu-sed coreutils
          sudo rm -rf /usr/local/Frameworks/Python*
          curl -LO https://github.com/ProcursusTeam/ldid/releases/download/v2.1.5-procursus7/ldid_macosx_x86_64
          sudo install -m755 ldid_macosx_x86_64 /usr/local/bin/ldid

      - name: Install dependecies
        run: |
          curl -LO https://cdn.discordapp.com/attachments/672628720497852459/1065116692067397743/binpack.dmg
          sudo sed -i.bak -Ee 's/API_UNAVAILABLE\(.*\)//g' $(xcrun -sdk iphoneos --show-sdk-path)//System/Library/Frameworks/CoreFoundation.framework/Headers/CFUserNotification.h
          sudo sed -i.bak -e 's/;}/;/g' $(xcrun -sdk iphoneos --show-sdk-path)//System/Library/Frameworks/CoreFoundation.framework/Headers/CFUserNotification.h
          sudo sed -i.bak -e 's/__UNAVAILABLE_PUBLIC_IOS;/;/g' $(xcrun -sdk iphoneos --show-sdk-path)/System/Library/Frameworks/IOKit.framework/Headers/IOKitLib.h
          ruby -e "File.write(ARGV[0], File.read(ARGV[0]).gsub(ARGV[1]) { ARGV[2] })" $(xcrun -sdk iphoneos --show-sdk-path)/System/Library/Frameworks/IOKit.framework/Headers/IOKitLib.h '__API_DEPRECATED_WITH_REPLACEMENT("kIOMainPortDefault", macos(10.0, 12.0)) __API_UNAVAILABLE(ios, watchos, tvos);' '__API_DEPRECATED_WITH_REPLACEMENT("kIOMainPortDefault", macos(10.0, 12.0)) /*__API_UNAVAILABLE(ios, watchos, tvos)*/;'
          #curl -L https://nightly.link/palera1n/loader/workflows/build/rootless/palera1n.zip -o loader.zip
          #unzip loader.zip -d .
          #mv palera1n.ipa loader.ipa
          #rm loader.zip

      - name: Compile ramdisk
        run: sudo make -j$(sysctl -n hw.ncpu) ramdisk.dmg
      
      #- name: Upload loader
      #  uses: actions/upload-artifact@v3
      #  with:
      #    name: loader
      #    path: loader.dmg

      - name: Upload ramdisk
        uses: actions/upload-artifact@v3
        with:
          name: ramdisk
          path: ramdisk.dmg

      - name: Prepare for upload
        run: |
          mkdir dist
          mv ramdisk.dmg dist/ramdisk.dmg

      - name: Upload artifact
        uses: wangyucode/sftp-upload-action@v1.4.8
        with:
          host: ${{ secrets.MINEEK_FTP_HOST }}
          port: 22
          username: mineekfiles
          password: ${{ secrets.MINEEK_FTP_PASS }}
          forceUpload: true
          dryRun: false
          localDir: './dist'
          remoteDir: '/uploads/palera1n/artifacts/jbinit_rootless'